@import '~@styles/_variables.scss';
.homepageWrapper {

    @media screen and (min-width: $breakpoint-small) {
        margin: 40px;
    }
}

// Marquee Functionality

.marqueeWrapper {
    display: none;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    width: 100vw;
    z-index: -1;

    @media screen and (min-width: $breakpoint-small) {
        display: block;
    }
}
