@font-face {
    font-family: something-shine;
    src: url('~@assets/fonts/something-shine.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: something-shine;
    src: url('~@assets/fonts/something-shine.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: consolamono;
    src: url('~@assets/fonts/consolamono-book.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: consolamono;
    src: url('~@assets/fonts/consolamono-book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: consolamono;
    src: url('~@assets/fonts/consolamono-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: consolamono;
    src: url('~@assets/fonts/consolamono-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}