@import '~@styles/_variables.scss';

.linkWrapper {
    position: relative;
}
.internalLink {
    align-items: center;
    background-color: transparent;
    border: 3px solid $brand-yellow;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-weight: bold;
    height: 150px;
    justify-content: center;
    letter-spacing: 2px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    width: 150px;
    z-index: 1;

    transition: color 0.3s, border-color 0.3s;
    -webkit-transition: color 0.3s, border-color 0.3s;

    &:hover, &:focus {
        color: #2a2a2a;
        outline: none;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: $brand-yellow;
        border-radius: 50%;
        height: 100%;
        transform-origin: top left;
        transform: translateX(-60px) rotate(-45deg);
        width: 200%;
        z-index: -1;

        transition: transform 0.3s;
        -webkit-transition: transform 0.3s;
    }

    &:hover::before, &:focus::before {
        transform: translateX(-60px) rotate(0deg);
    }

    @media screen and (min-width: $breakpoint-small) {
        margin: 50px 0;
    }
}

.transitionOut {
    background-color: $brand-yellow;
    border-radius: 50%;
    display: none;
    position: absolute;
    overflow: hidden;
    top: 50px;
    bottom: 50px;
    left: 0;
    right: 0;
    z-index: 10;

    &.active {
        display: inline-block;
        animation: transition-out .7s 1 ease-in;
        transform: scale(30);
    }
}

@keyframes transition-out {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(30);
    }
}