@import '~@styles/_variables.scss';
@import '~@styles/_fonts.scss';

.projectsMain {
    min-height: 100vh;
    min-width: 100vw;
    position: relative;

    @media screen and (min-width: $breakpoint-small) {
        margin-bottom: 88px;
        min-height: calc(100vh - 88px);
    }
}

.projectChangeController {
    border: none !important;
    display: flex;
    gap: 4px;
    position: absolute;
    bottom: 20px;
    right: 20px;

    &::before {
        background-color: #fff;
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 4px;
        left: 4px;
    }

    .rotateProjects {
        background-color: $brand-yellow !important;
        border: none;
        z-index: 1;

        &:first-of-type {
            transform: rotate(180deg);
        }

        .rotateProjectsBtn {
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-family: something-shine;
            font-size: 48px;
            padding: 10px;
    
            &:hover, &:focus {
                animation: pulse infinite .5s;
                outline: none;
                text-shadow: 0 0 3px $brand-yellow, 0 0 5px #fff;
            }
        }
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2)
    }
}
