@import '~@styles/_variables';

.header {
    border-bottom: 2px solid $brand-yellow;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: max(50vw, 320px);
}