@import '~@styles/_variables.scss';
@import '~@styles/_fonts.scss';

.projectWrapper {
    background-color: transparent;
    padding: 20px;
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.titleWrapper {
    position: absolute;
    top: 20px;
    left: 20px;
    width: max(30%, 250px);

    .projectTitle {
        align-items: center;
        background-color: $brand-yellow;
        color: #333;
        display: flex;
        font-family: something-shine;
        font-size: 64px;
        height: 100%;
        justify-content: center;
        letter-spacing: 5px;
        padding: 20px;
        position: relative;
    }

    &::before {
        content: '';
        background-color: #fff;
        position: absolute;
        top: 4px;
        left: 4px;
        width: 100%;
        height: 100%;
    }
}

.exampleWrapper {
    position: relative;
    display: flex;
    gap: 10vw;
    transform: translateX(10vw);

    .responsiveExamples {
        height: auto;
        width: min(60vw, 800px);
    }

    .loginExamples {
        display: flex;
        width: 70wv;

        .loginDetails {
            h3 {
                font-size: 24px;
                letter-spacing: 4px;
            }
        }
    }

}