@import '~@styles/_variables.scss';

.linkWrapper {
    border-bottom: 2px solid $brand-yellow;
    height: 100%;
    padding: 10px 10px;
    width: 20%;
}

.headerLink {
    align-items: center;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-size: 18px;
    height: 100%;
    justify-content: center;
    letter-spacing: 3px;
    padding: 10px;
    width: 100%;
}

.transitionOut {
    background-color: $brand-yellow;
    display: none;
    position: absolute;
    overflow: hidden;
    top: 50px;
    bottom: 50px;
    left: 0;
    right: 0;
    z-index: 10;

    &.active {
        display: inline-block;
        animation: transition-out 1s 1;
        transform: scale(30);
    }
}

@keyframes transition-out {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(45deg);
    }
}